.in-game {
  font-family: "Roboto";
}

body {
  background-color: transparent;
  margin: 0px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  min-height: 100vh;
  overflow: hidden;
}

main {
  display: flex;
  flex: 1;
  position: relative;
  padding: 38px;
}

h1 {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #d5d5d5;
}

#ad {
  margin-top: auto;
  height: 300px;
  width: 400px;
  background-color: #454545;
  border-radius: 4px;
}

#other {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 210px;
}

#other > #infoParagraph {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #8d8d8d;
}

#other > #sampleAdText {
  margin: 1em 0 0.5em 0;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 133.59%;
  align-self: center;
  color: #8d8d8d;
}

#other > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}

.dataText {
  white-space: nowrap;
  padding: 10px;
  overflow: auto;
  overflow-x: hidden;
  color: #b1b1b1;
  width: calc(100% - 30px);
  height: 600px;
  text-align: left;
}

.dataText pre {
  white-space: pre-line;
  word-break: break-word;
  margin: 5px 0;
  display: inline-block;
  vertical-align: top;
}

.dataText div > span {
  margin-right: 8px;
  margin-top: 6px;
  display: inline-block;
}

.dataText div {
  clear: both;
}

.dataText::-webkit-scrollbar {
  width: 0;
}

.dataText::-webkit-scrollbar-track {
  background: transparent;
}

.dataText::-webkit-scrollbar-thumb {
  background: transparent;
}

.highlight {
  color: #00defa;
}

button.logCopy {
  background: #464646;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  color: #d5d5d5;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 120%;
  padding: 6px 8px;
  margin-top: 10px;
  cursor: pointer;
  align-self: flex-start;
}

button.logCopy:hover {
  background: #8d8d8d;
  color: #ffffff;
}

form {
  width: 100%;
}

form input {
  width: calc(100% - 8px);
  height: 34px;
  background-color: #333333;
  color: white;
  border: none;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

#info_updates, #game_events, #console, #deck_tracker {
  position: absolute;
  z-index: 9;
  border: 2px solid #7d7d7d;
  text-align: center;
  width: 600px;
  border-radius: 8px;
}

.draggable_header {
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: move;
  z-index: 10;
  background-color: #003865;
  color: #fff;
}

.draggable_header:hover, .draggable_header h1, .draggable_header h1:hover {
  cursor: move;
}

.draggable_body {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #1c1c1c;
}

.yellow {
  color: #f5d800;
}

.red {
  color: red;
}

.green {
  color: lawngreen;
}

.aqua {
  color: #00defa;
}

.card {
  width: 100%;
  height: 30px;
  background: gray;
  line-height: 30px;
}

.card-info {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: white;
  color: black;
  border-radius: 50px;
  text-align: center;
}

.card-body {
  text-align: center;
  font-weight: 700;
  display: inline-block;
  width: 75%;
}

.card-quantity {
  border-radius: 50px;
  display: inline-block;
  color: black;
  background-color: white;
  height: 30px;
  width: 30px;
}